<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59143043984-f5ef20ihn7pbcac9bd5cjkn1bpjqb2ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59143043984-f5ef20ihn7pbcac9bd5cjkn1bpjqb2ep</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjARIKiBBseIVkCEoB6y_e88w042kR5E</string>
	<key>GCM_SENDER_ID</key>
	<string>59143043984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.projetDev3</string>
	<key>PROJECT_ID</key>
	<string>back-ae3b8</string>
	<key>STORAGE_BUCKET</key>
	<string>back-ae3b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:59143043984:ios:de74b9de21501505a59115</string>
	<key>DATABASE_URL</key>
	<string>https://back-ae3b8.firebaseio.com</string>
</dict>
</plist>
